apiVersion: v1
kind: Secret
metadata:
  name: spot-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "account": "your-account",
      "token": "your-token"
    }
